// neutral Colors
$primaryNeutral-color: #fff;
$secondaryNeutral-color: #000;

// Typography colors
$primaryTypography-color: #000;

// Background colors
$primaryBackground-color: #fff;
$secondaryBackground-color: #FF6B00;
$tertiaryBackground-color: #ACACAC;

// message colors
$error-color: #D80A0A;
$correct-color: #26A706;