*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

html, body, .contentContainer, #root{
    height: 100%;
}
