body {
    background-image: url(/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.contentContainer {
    backdrop-filter: blur(7px);
    display: flex;
    justify-content: center;
    align-items: center;

}

.mediumImage {
    height: 70%;
    margin: 0;
}
